.place-container{
    display: flex;
    text-align: justify;
    background-color:rgb(187, 200, 209) ;
    color: rgb(15, 15, 15);
}

.contact-container{
    width: 30%;
    margin: 20px;
    padding: 20px;
}